$def with (page)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>$site_name</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/common.css"/>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">TechEric</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="/">Achieve</a></li>
					<li><a href="#">Test</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

$:page

</body>
</html>
